@using QA.TNGo_v2.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .admin-content h1{
        color: #005EC5;
        font-weight:800;
        text-align:center;
    }
</style>
<div class="admin-content">
    <h1>PHẦN MỀM QUẢN TRỊ TIN TỨC</h1>
    <h1>DỰ ÁN TNGO</h1>
</div>  