<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] TNGo- Xe đạp công nghệ số</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <section id="Header">
        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="ps-5">
                    <a title="Xe đạp công cộng TNGo" href="/" class="logo-avatar">
                        <img class="imglogo" src="https://tngo.vn/Data/logo-vn.jpg" alt="TN-GO" style="width:150px;">
                    </a>
                </div>

                <style>
                    .Table {
                        width: 100%;
                    }

                        .Table tr td {
                            border: 1px solid #C2C2C2;
                            padding: 5px;
                        }
                </style><div class="flex-fill d-none d-sm-block navbar">
                    <div class="d-flex flex-row flex-wrap justify-content-end align-items-center fs-5 menu-bar main-menu-bar">
                        <div class="h-100"><a class="nav-dropbtn h-100 py-3 px-2 px-md-4 menu-item" role="button" href="/usermanual">Hướng dẫn sử dụng</a></div><div class=""><a class="nav-dropbtn py-3 px-2 px-md-4 menu-item" role="button" href="/price">Bảng giá</a></div><div class="nav-dropdown"><a class="nav-dropbtn nav-dropdown py-3 px-2 px-md-4 menu-item" role="button" href="#">Dịch vụ</a><div class="nav-dropdown-content fs-6"><a href="/rank">Bảng xếp hạng</a><a href="/tapgo">Thẻ trả trước TapGo</a><a href="/rfid">Thẻ RFID</a><a href="/rentBike">Dịch vụ - sự kiện</a><a href="/tripCare">Bảo hiểm Trip Care</a></div></div><div class=""><a class="nav-dropbtn py-3 px-2 px-md-4 menu-item" role="button" href="/station">Danh sách trạm</a></div><div class=""><a class="nav-dropbtn py-3 px-2 px-md-4 menu-item" role="button" href="/news">Tin tức</a></div><div class=""><a class="nav-dropbtn py-3 px-2 px-md-4 menu-item" role="button" href="/contact">Liên hệ</a></div>
                        <div class="px-2 px-md-4 fs-6">
                            <div class="avatar-box dropdown">
                                <img src="https://api-mobile.tngo.vn/Data/Account/2023/9/6/avt_5d950355-2deb-4d9d-8ca7-a8e1615a7e12.jpg" type="button" data-bs-toggle="dropdown" aria-expanded="false" alt="avatar" onerror="this.onerror=null;this.src='/Content/Admin/images/no-avatar.jpg';" class="">

                                <ul class="dropdown-menu" style="right: 0 !important; left:unset">
                                    <li><a class="dropdown-item" href="/RFID/MyRFIDCard">Thẻ của tôi</a></li>
                                    <li><a class="dropdown-item" href="/Price/BuyTicket">Mua vé</a></li>
                                    <li><a class="dropdown-item" href="/Payment">Nạp tiền</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/AccountWeb/Logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-block d-sm-none text-primary">

                    <div class="avatar-box dropdown d-inline-block me-2">
                        <img src="https://api-mobile.tngo.vn/Data/Account/2023/9/6/avt_5d950355-2deb-4d9d-8ca7-a8e1615a7e12.jpg" type="button" data-bs-toggle="dropdown" aria-expanded="false" alt="avatar" onerror="this.onerror=null;this.src='/Content/Admin/images/no-avatar.jpg';" style="width:30px;">

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/RFID/MyRFIDCard">Thẻ của tôi</a></li>
                            <li><a class="dropdown-item" href="/Price/BuyTicket">Mua vé</a></li>
                            <li><a class="dropdown-item" href="/Payment">Nạp tiền</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/AccountWeb/Logout">Đăng xuất</a></li>
                        </ul>
                    </div>

                    <button class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#menumore">
                        <span style="color: Dodgerblue;"><i class="fa fa-bars"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <div class="main">
        @RenderBody();
    </div>
    <div class="footter hidden-login">
        <div class="tngoft">
            <div class="container">
                <div class="text-center text-white mb-3">© 2023 Xe đạp công cộng TNGo - Một sản phẩm của <a class="text-white" href="#" target="_blank" style="text-decoration:underline">Công ty cổ phần vận tải số Trí Nam</a></div>
                <div class="d-flex flex-row justify-content-between flex-wrap">

                    <div class="flex-fill text-white"><img alt="" class="mb-2" src="/image/logoft.png" style="width:12rem"><div class=" mb-4" style="width:20rem;text-align: justify;">Xe đạp công cộng - Một loại hình giao thông đô thị mới văn minh, tiện lợi, tốt cho sức khỏe và thân thiện với môi trường.</div><a target="_blank" href="http://online.gov.vn/Home/WebDetails/84227"><img src="/image/logoSaleNoti.png" style="width:10rem"></a></div>
                    <div class="flex-fill text-white footer-contact"><h2>Liên hệ</h2><div class="mb-3"><i class="fa-solid fa-phone"></i><a class="text-white" href="tel:1900633548">1900 633 548</a></div><div class="mb-3"><i class="fa-regular fa-envelope"></i><a class="text-white" href="mailto:info@vantaiso.com.vn">info@vantaiso.com.vn</a></div><div class="mb-3"><i class="fa-brands fa-facebook-f"></i><a class="text-white" href="https://www.facebook.com/tngo.vn" target="_blank">tngo.vn</a></div></div>

                    <div class="flex-fill text-white mb-5">
                        <h2>Liên kết nhanh</h2>
                        <div class="row">
                            <div class="col-6"><div class="mb-3"><a class="text-white" href="/usermanual">Hướng dẫn sử dụng</a></div><div class="mb-3"><a class="text-white" href="/station">Danh sách trạm</a></div><div class="mb-3"><a class="text-white" href="/news">Tin tức</a></div><div class="mb-3"><a class="text-white" href="/contact">Liên hệ</a></div></div>
                            <div class="col-6"><div class="mb-3"><a class="text-white" href="/price">Bảng giá</a></div><div class="mb-3"><a class="text-white" href="/tapgo">Thẻ trả trước TapGo</a></div><div class="mb-3"><a class="text-white" href="/rfid">Thẻ RFID</a></div><div class="mb-3"><a class="text-white" href="/rank">Bảng xếp hạng</a></div></div>
                        </div>
                    </div>
                    <div class="flex-fill text-white"><h2>Tải ứng dụng</h2><div class="d-flex flex-column justify-content-between"><div class="mb-2"><a href="https://apps.apple.com/vn/app/tngo/id1552166916" target="_blank"><img alt="" src="/image/app-ios.png" style="width:8rem"></a></div><a href="https://play.google.com/store/apps/details?id=com.tngo" target="_blank"><img alt="" src="/image/app-android.png" style="width:8rem"></a></div></div>
                </div>
                <div class="d-flex flex-row justify-content-between flex-wrap d-xl-none mt-5">
                    <div class="row">
                        <div class="col-6 text-white">
                            Chọn ngôn ngữ
                        </div>
                        <div class="col-6">
                            <select class="form-select" onchange="selectLanguage(this)">
                                <option value="vi" selected="">vi</option>
                                <option value="en">en</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/main.js"></script>
<script src="~/lib/chart/chart.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/waypoints/waypoints.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)