@model QA.TNGo_v2.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Thumbnail" class="control-label">Chọn file</label>
                <input type="file" asp-for="Thumbnail" id="ThumbnailTemp" name="sortpic" required="" />
                <div class="form-group my-2">
                    <button type="button" id="btnUploadImg" class="btn btn-primary">Upload</button>
                </div>
                <input asp-for="Thumbnail" type="hidden" id="Thumbnail" name="Thumbnail" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="status alert alert-success d-none"></div>
       @*  <button class="btn btn-primary my-3" id="qa">Quang Anh BUTTON</button> *@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#btnUploadImg").on('click', function () {
            var files = $('#ThumbnailTemp').prop("files")[0];
            var type = files.type;
            var match = ["image/gif", "image/png", "image/jpg", "image/jpeg"];
            if (type == match[0] || type == match[1] || type == match[2] || type == match[3]) {
                formData = new FormData();
                formData.append("MyUploader", files);
                $.ajax({
                    type: 'POST',
                    url: '/Category/UploadImage',
                    data: formData,
                    // dataType: 'text',
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        alert("File is uploaded successfully");
                        $('#Thumbnail').val(res.url);
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                });
            } else {
                $('.status').removeClass('d-none');
                $('.status').text('Chỉ được upload file ảnh');
                $('#ThumbnailTemp').val('');
            }
        });

              
    </script>

}
