@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/css/manual.css" rel="stylesheet" />
}
<!--Banner-->
<section class="banner">
    <img src="/image/banner-user-manual.jpg" class="img-fluid" />
    <h1 class="banner-text-centered">Hướng dẫn sử dụng</h1>
</section>
@* HDSD *@
<section id="HDSD" class="manuals py-5 my-5">
    <div class="container">
        <div class="col-sm-12">
            <header>
                <h2><b>Cách sử dụng</b></h2>
                <h3>Sau khi <span style="color:#0094fb">Đăng kí</span>, sử dụng dễ dàng với 3 bước: <span style="color:#0094fb">Mở khóa - Đi xe - Trả xe</span></h3>
            </header>
        </div>
        <div class="col-sm-12">
            <div class="owl-carousel owl-theme" id="manualsct">
                <!--<div class="item"
                     data-dot="<button>1</button><h2>Tìm kiếm trạm xe</h2><p>Bạn hãy mở bản đồ trạm xe trên ứng dụng TNGo để tìm kiếm trạm còn xe gần nhất.</p>">
                    <img src="image/use-1.png" alt="">
                </div>-->
                <div class="item"
                     data-dot="<button>1</button><h2>Mở khóa</h2><p>Chạm vào nút ''Mở khóa'' và quét mã QR trên xe đạp/khóa xe để tự động mở khóa.</p>">
                    <img src="/image/use-1.png" alt="">
                </div>
                <div class="item"
                     data-dot="<button>2</button><h2>Đi xe</h2><p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p>">
                    <img src="/image/use-2.png" alt="">
                </div>
                <div class="item"
                     data-dot="<button>3</button><h2>Trả xe</h2><p>Trả xe đạp về trạm TNGo bất kỳ. Thực hiện đóng khóa xe và xác nhận kết thúc chuyến đi trên ứng dụng TNGo.</p>">
                    <img src="/image/use-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
@* VIDEO *@
<section class="py-5 mb-5">
    <div class="container">
        <div>
            <div id="fb-root"></div>
            <script defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="wJvlXzRz"></script>

            <div class="fb-video" data-href="https://www.facebook.com/tngo.vn/videos/1069490303890904/" data-show-text="false" data-lazy="true">
                <blockquote cite="https://www.facebook.com/tngo.vn/videos/1069490303890904/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/tngo.vn/videos/1069490303890904/"></a>
                </blockquote>
            </div>
        </div>

    </div>
</section>

@* Câu hỏi thường gặp *@
<section class="support pb-5 mb-5">
    <div class="container">

        <div class="row mb-5">
            <header>
                <h2><b>Câu hỏi thường gặp</b></h2>
            </header>
        </div>

        <div class="row" id="faq">
            <div class="col-sm-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#menu1" role="tab" aria-controls="menu1" aria-selected="true">
                            <div class="diamond-shape">
                                <div class="item-count">1</div>
                            </div>
                            <p>Thắc mắc đi xe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#menu2" role="tab" aria-controls="menu2" aria-selected="true">
                            <div class="diamond-shape">
                                <div class="item-count">2</div>
                            </div>
                            <p>Vấn đề thanh toán</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#menu3" role="tab" aria-controls="menu3" aria-selected="true">
                            <div class="diamond-shape">
                                <div class="item-count">3</div>
                            </div>
                            <p>Vấn đề khác</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

                        <div class="accordion" id="accordion1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        <b>Khi nào tôi có thể bắt đầu đạp xe?</b>
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>TNGo Bikes sẵn sàng để mở khóa từ 5 giờ 00 phút sáng đến 20 giờ đêm. Bạn có thể đỗ xe trong trạm bất cứ lúc nào.</p>
                                        <p>Xin mời trải nghiệm!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <b>Mùa mưa thì sao?</b>
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Xe đạp chung_ TNGo có sẵn quanh năm, phục vụ 24h/7 ngày Tuy nhiên trong mùa mưa thì các bạn nên tránh những cung đường ngập nước vì vậy bạn hãy cẩn thận điều khiển xe  và kiểm soát lộ trình di chuyển.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <b>Xe đạp có điện không?</b>
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Không.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <b>Xe đạp có định vị GPRS không?</b>
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Có, Để chung tôi đảm bảo hỗ trợ nhanh nhất cho bạn trong trường hợp xe đạp bị sự cố trong quá trình vận hành.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <b>Làm cách nào để xác định vị trí trạm xe đạp gần nhất?</b>
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Bạn có thể tìm thấy điều này trong ứng dụng của chúng tôi hoặc trong bản đồ trạm đặt xe. Trong ứng dụng của chúng tôi, bạn cũng có thể xem trạng thái thực của các trạm đặt xe của chúng tôi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <b>Ứng dụng có cần thiết để mở khóa xe đạp không?</b>
                                    </button>
                                </h2>
                                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Có, bạn cần tải ứng dụng về máy điện thoại cuả bạn. Bạn chỉ có thể mở khóa xe đạp bằng mã QR thông qua ứng dụng.</p>
                                        <p>link android:</p>
                                        <p><a href="https://apps.apple.com/app/id1552166916" target="_blank">https://apps.apple.com/app/id1552166916</a></p>
                                        <p>link apple app:</p>
                                        <p><a href="https://play.google.com/store/apps/details?id=com.tngo" target="_blank">https://play.google.com/store/apps/details?id=com.tngo</a></p>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="menu2" class="tab-pane fade">

                        <div class="accordion" id="accordion2">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                        <b>Việc tính cước thực hiện như thế nào?</b>
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Việc tính cước theo gói bạn đăng ký sử dụng và được quy về block 30 phút là gói thấp nhất cố định để mở khóa một chiếc xe và sau đó tính tiếp theo phút và block khi bạn đi. Giá và khuyến mãi có thể thay đổi theo thành phố, theo tháng, ngày trong tuần và thời gian trong ngày.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <b>Tôi có phải trả tiền bằng tài khoản điện thoại thông minh của mình không?</b>
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Không, việc nhập số điện thoại di động và mã xác minh của bạn chỉ để xác nhận bạn là ai. Việc thanh toán bằng thẻ thanh toán (Visa hoặc MasterCard) hoặc các App trung gian.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <b>Tôi đã nhận được một thẻ quà tặng. Làm cách nào để bắt đầu?</b>
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Bạn thật may mắn! Hãy nhập mã trên ứng dụng TNGo trên điện thoại của bạn và làm theo các bước hướng dẫn.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="menu3" class="tab-pane fade">

                        <div class="accordion" id="accordion3">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                        <b>Xe đạp có an toàn không?</b>
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Trước khi đi xe, hãy kiểm tra nhanh. Nếu bạn thấy dấu hiệu hư hỏng vui lòng báo cáo trong ứng dụng hoặc thông báo cho bộ phận dịch vụ khách hàng tại https://tngo.vn/ hoặc gọi cho chúng tôi theo số Hotline: 1900 633 548</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <b>Tôi có cần số điện thoại di động Việt Nam không?</b>
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Có, bạn chỉ có thể đăng ký và mở khóa xe đạp bằng số Việt Nam. Điều duy nhất bạn phải làm là tải app TNGo về máy của bạn và thực hiện các thao tác theo hướng dẫn..</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <b>Điều gì xảy ra với tài khoản TNGo cũ của tôi?</b>
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Hồ sơ của bạn đã được lưu, nhưng bạn cần kích hoạt lại. Liên hệ trợ giúp tại đây.</p>
                                        <p><b>E-mail:</b> info@vantaiso.com.vn</p>
                                        <p><b>Phone hotline number:</b> 1900633548</p>
                                        <p><b>Web:</b> <a href="https://tngo.vn" target="_blank">https://tngo.vn</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <b>Chúng tôi có thể đặt chỗ cho nhiều Khách du lịch của chúng tôi cùng lúc không?</b>
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Với giải pháp kinh doanh của chúng tôi, bạn có thể tạo và phân phối xe bằng việc  mua gói vé nhóm hoặc gọi cho hotline 1900 633 548 để được hỗ trợ.</p>
                                        <p>Truy cập https://tngo.vn/ để biết thêm thông tin.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <b>Tại sao tôi không nhận được mã otp?</b>
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Đôi khi phải mất vài phút trước khi mã otp được gửi đến điện thoại của bạn. Chờ và thử lại nếu bạn gặp sự cố.</p>
                                        <p>Mục đích của mã otp là để xác minh rằng đó là bạn. Pass cá nhân được sử dụng khi bạn đăng nhập vào tài khoản TNGo của mình. Quét mã QR được sử dụng trực tiếp trên các trạm để mở khóa xe đạp.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <b>Làm thế nào tôi có thể cập nhật thông tin TNGo?</b>
                                    </button>
                                </h2>
                                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Theo dõi chúng tôi trên Facebook để cập nhật về những gì đang diễn ra.</p>
                                        <p><a href="https://www.facebook.com/TNGo-137103531850759" target="_blank">FanPage Facebook</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        <b>Tôi có thêm câu hỏi!</b>
                                    </button>
                                </h2>
                                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Gửi tin nhắn cho chúng tôi ở đây trên trang này hoặc trong ứng dụng. Bạn cũng có thể gửi email tới info@vantaiso.com.vn</p>
                                        <p>Chúng tôi rất mong nhận được phản hồi từ bạn và sẽ trả lời bạn nhanh nhất có thể!</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@* ĐIỀU KHOẢN SỬ DỤNG *@
<section class="support">
    <div class="container" style="text-align: justify;">

        <div class="row mb-2">
            <header>
                <h2><b>Điều khoản sử dụng</b></h2>
            </header>
        </div>

        <div class="row mb-5">
            <div class="col-sm-7">
                <div id="terms-summary" class="mb-5">
                    Quan trọng – vui lòng đọc kỹ những điều khoản sử dụng dịch vụ được quy định dưới đây “Điều khoản sử dụng”. Bằng việc sử dụng Dịch vụ, bạn đồng ý rằng bạn đã đọc, hiểu, chấp nhận và đồng ý với Điều khoản sử dụng. Bạn cũng đồng ý với các cam đoan được đưa ra dưới đây. Nếu bạn không đồng ý hoặc không thuộc phạm vi điều chỉnh của Điều khoản sử dụng Dịch vụ và không muốn tiếp tục sử dụng Dịch vụ, vui lòng không tiếp tục sử dụng Dịch vụ này.
                    Điều khoản sử dụng này cấu thành một Thỏa thuận pháp lý giữa bạn và Công ty Xedapchung. Để sử dụng Dịch vụ bạn phải đồng ý với Điều khoản sử dụng được quy định sau đây. Bằng việc sử dụng ứng dụng Xedapchung được cung cấp bởi Công ty và tải về, cài đặt hoặc sử dụng thẻ khách hàng do Công ty cung cấp với mục đích hỗ trợ người có nhu cầu sử dụng dịch vụ chia sẻ xe đạp để di chuyển đến các địa điểm cụ thể. Những chỉnh sửa, thay đổi Điều khoản sử dụng hoặc các chính sách có liên quan đến Dịch vụ sẽ có hiệu lực ngay khi phiên bản cập nhật được đăng tải trên trang web Xedapchung.com. Bạn xác nhận và đồng ý rằng bạn phải có trách nhiệm thường xuyên kiểm tra Điều khoản sử dụng. Việc tiếp tục sử dụng Dịch vụ sau khi có bất kỳ thay đổi nào, bất kể là bạn đã xem xét chúng hay chưa, sẽ tương đương với việc bạn đã chấp thuận và đồng ý đối với những thay đổi đó. Điều khoản sử dụng tại thông tin này có thể được thay đổi, truy cập tại Xedapchung.com
                </div>
                <div id="terms-list">

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Dịch vụ chia sẻ xe đạp</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">1</div>
                        </div>

                        <div class="manual-content">
                            Sứ mệnh của chúng tôi là mang đến cho mọi người khả năng kết nối cộng đồng và đưa thế giới lại gần nhau hơn. Dịch vụ chia sẻ của Xedapchung là nhà cung cấp dịch vụ chia sẻ xa đạp cho khách hàng được cung cấp cho khách hàng trên website tại địa chỉ Xedapchung.vn
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Cam kết sử dụng của khách hàng</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">2</div>
                        </div>

                        <div class="manual-content">
                            Khách hàng khi có nhu cầu sử dụng dịch vụ là hoàn toàn tự nguyện và khách hàng hiểu rõ các quy định có liên quan về thanh toán và nạp tiền vào tài khoản của thẻ khách hàng Xedapchung.
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Thời gian xử lý giao dịch thuê xe đạp</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">3</div>
                        </div>

                        <div class="manual-content">
                            Giao dịch Thanh toán trực tuyến được thực hiện ngay sau khi cổng thanh toán thực hiện thành công yêu cầu trừ tiền trong tài khoản ngân hàng của khách hàng.
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Hoàn tiền đối với giao dịch</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">4</div>
                        </div>

                        <div class="manual-content">
                            <p>Giao dịch không được hoàn tiền: Là các giao dịch thanh toán thực hiện thành công và tài khoản Xedapchung của khách hàng được thanh toán đã được gạch nợ hoặc nạp tiền với số tiền tương ứng.</p>
                            <p>Giao dịch được hoàn tiền: Là các giao dịch không thành công, khách hàng không được gạch nợ hoặc nạp tiền vào tài khoản Xedapchung nhưng đã trừ tiền tài khoản ngân hàng. Khách hàng sẽ được hoàn tiền lại sau khi thực hiện tra soát giao dịch giữa Xedapchung, cổng thanh toán và các ngân hàng, nhà mạng.</p>
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Quyền và trách nhiệm của khách hàng</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">5</div>
                        </div>

                        <div class="manual-content">
                            Khách hàng có trách nhiệm thực hiện theo đúng những hướng dẫn sử dụng dịch vụ của Xedapchung. Khách hàng được hưởng đầy đủ các quyền lợi dành cho khách hàng khi sử dụng dịch vụ. Trong quá trình sử dụng dịch vụ, khi xảy ra tình huống phát sinh ngoài mong muốn, khách hàng cần báo cho trung tâm dịch vụ khách hàng. Trong các trường hợp bất khả kháng như mất cắp xe đạp, hỏng hóc do tai nạn dẫn đến không thể thực hiện hết hành trình chuyến đi người sử dụng cần thông báo cho trung tâm dịch vụ khách hàng để bộ phận kỹ thuật trực tiếp giúp đỡ.
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Quyền và trách nhiệm của Công ty Xedapchung</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">6</div>
                        </div>

                        <div class="manual-content">
                            <p>Xedapchung có trách nhiệm đảm bảo các hệ thống kỹ thuật của Xedapchung hoạt động ổn định, chính xác trong việc xử lý những yêu cầu của khách hàng. Bộ phận hỗ trợ khách hàng hoạt động 24/7 trong ngày, để giải đáp giúp đỡ liên tục nhưng yêu cầu của người sử dụng.</p>
                            <p>Xedapchung có trách nhiệm cung cấp đầy đủ thông tin liên quan tới giao dịch phục vụ tra soát số liệu giao dịch với các đơn vị khi phát sinh lỗi hoặc có khiếu nại của khách hàng trong việc sử dụng dịch vụ với điều kiện các bên liên quan đưa đủ bằng chứng chứng tỏ mình có quyền hợp pháp để tiếp cận các thông tin nói trên.</p>
                            <p>Xedapchung có quyền từ chối không cung cấp dịch vụ cho khách hàng nếu khách hàng không tuân thủ các quy định về cung cấp dịch vụ của Xedapchung.</p>
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Cam kết</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">7</div>
                        </div>

                        <div class="manual-content">
                            Hai bên cam kết nghiêm chỉnh thực hiện các điều khoản. Nếu phát sinh tranh chấp trong quá trình thực hiện, hai bên sẽ cùng nhau giải quyết bằng thương lượng hoặc hoà giải. Trường hợp thương lượng hoặc hoà giải không thành, thì một trong các bên có quyền đưa vụ tranh chấp ra Tòa án nhân dân có thẩm quyền tại nơi Xedapchung đặt trụ sở chính.
                        </div>
                    </div>

                    <div class="terms-block">
                        <div class="manual-panel">
                            <div class="manual-panel-title">Các thỏa thuận khác</div>
                            <div class="manual-panel-square"></div>
                            <div class="manual-panel-number">8</div>
                        </div>

                        <div class="manual-content">
                            <p>Thỏa thuận này được điều chỉnh theo các văn bản pháp luật liên quan của Việt Nam.</p>

                            <p>Thỏa thuận và các tài liệu kèm theo là một bộ phận không tách rời nhau. Bằng việc đồng ý Hợp đồng này, các bên đã thống nhất và chấp nhận các điều khoản đã quy định. Khách hàng cam kết đã đọc, hiểu rõ và tuân thủ đúng, đầy đủ những điều khoản, điều kiện như trên và các quy định liên quan của pháp luật.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-5">
                <div class="container">
                    <img src="/image/Rectangle 669.jpg" class="img-fluid mx-auto d-block mb-5" width="90%" />
                    <img src="/image/Rectangle 670.jpg" class="img-fluid mx-auto d-block mb-5" width="90%" />

                    <img src="/image/Rectangle 671.jpg" class="img-fluid mx-auto d-block mb-5" width="90%" />

                    <img src="/image/Rectangle 673.jpg" class="img-fluid mx-auto d-block mb-5" width="90%" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/pages/user-manual.js"></script>
}