@* @model IEnumerable<QA.TNGo_v2.Models.Price> *@

@{
    ViewData["Title"] = "Index";
}


<header>
    <h2 class="price-title text-center mb-5">TapGo</h2>
</header>

<div class="tapgo-intro tapgo-main">
    <div class="h3 fw-bold">Giới thiệu</div>
    <div class="intro py-5 d-flex flex-row justify-content-center">
        <div class="w-75">Thẻ trả trước TapGo là một tính năng mới cho phép khách hàng thuê xe đạp công cộng TNGo ngay chỉ với vài thao tác đơn giản mà không cần tải ứng dụng và đăng ký tài khoản. Khách hàng có thể mua thẻ TapGo tại các <a style="color:#EFE952;text-decoration:underline;" href="#tapgo-station">địa chỉ dưới đây.</a></div>
    </div>
    <div class="row">
        <div class="tapgo-card__intro col-sm-6">
            <div class="boxo">
                <h5>Thẻ TapGo60</h5>
                <img src="/image/tapgo60.png" />
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Trong thẻ có 60.000 điểm</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Cho phép mở 1 xe</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Thẻ có hiệu lực trong 30 ngày kể từ khi kích hoạt</p>
            </div>
        </div>
        <div class="tapgo-card__intro col-sm-6">
            <div class="boxo">
                <h5>Thẻ TapGo120</h5>
                <img src="/image/tapgo120.png" />
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Trong thẻ có 120.000 điểm</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Cho phép mở 1 xe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Thẻ có hiệu lực trong 30 ngày kể từ khi kích hoạt</p>
            </div>
        </div>
    </div>
</div>

<div class="tapgo-manual tapgo-main">
    <div class="h3 fw-bold">Hướng dẫn sử dụng</div>
    <h5>Để sử dụng thẻ TapGo, khách hàng làm theo các bước sau đây:</h5>
    <div class="row">
        <div class="col-sm-6">
            <img src="/image/tapgo-QR.png" />
            <div class="manual-step">
                <h5>Bước 1: Kích hoạt</h5>
                <p>
                    Khách hàng quét mã Qrcode trên mặt trước thẻ để gửi tin nhắn kích hoạt tới số "8066". Hệ thống sẽ gửi tin nhắn xác nhận kích hoạt thẻ thành công tới số điện thoại kích hoạt.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/image/tapgo-unlock-icon.png" />
            <div class="manual-step">
                <h5>Bước 2: Thuê xe</h5>
                <p>Chạm thẻ vào biểu tượng RFID trên khóa hoặc khu vực bên phải mã QR trên khóa để mở khóa. Khóa sẽ phát âm thanh khi chạm thẻ và tự động mở khóa để khách thuê xe.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/image/tapgo-bicycle-icon.png" />
            <div class="manual-step">
                <h5>Bước 3: Trả xe</h5>
                <p>Đỗ xe ngay ngắn tại trạm, đóng khóa xe và chạm thẻ lên biểu tượng RFID trên khóa trong vòng 30 giây kể từ khi đóng khóa để xác nhận trả xe. Nếu khách hàng sau 30 giây mới chạm thẻ thì khóa sẽ mở trở lại.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/image/tapgo-wallet-icon.png" />
            <div class="manual-step">
                <h5>Bước 4: Nạp tiền</h5>
                <p>Khi sử dụng hết số tiền trong thẻ, khách hàng có thể nạp tiền theo 2 cách:</p>
                <ul>
                    <li> Nạp qua tài khoản ngân hàng: Mở ứng dụng mobile banking bất kì, quét mã QRcode trên mặt sau thẻ TapGo và nhập số tiền cần nạp để chuyển tiền.</li>
                    <li> Nạp tiền mặt <span style="font-style:italic;">(sắp ra mắt)</span>: Quý khách mang thẻ TapGo ra hệ thống cửa hàng tiện lợi để được hỗ trợ nạp tiền mặt vào thẻ.</li>
                </ul>
                <!--<p style="margin-top:15px;"><a style="color:#EFE952;text-decoration:underline;" href="#checkWallet">Kiểm tra số dư trong thẻ</a></p>-->
            </div>
        </div>
        <div class="col-sm-6" style="display:block;margin:0 auto;">
            <img src="/image/tapgo-re.png" />
            <div class="manual-step">
                <h5>Bước 5: Tái sử dụng</h5>
                <p>Khi không còn nhu cầu sử dụng thẻ, khuyến nghị quý khách đem thẻ đến trả tại các điểm bán thẻ để tái sử dụng và nhận phần quà nhỏ từ TNGo vì hành động bảo vệ môi trường bạn nhé!</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Địa điểm mua thẻ</h2>
</div>
