@* @model IEnumerable<QA.TNGo_v2.Models.Price> *@

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link rel="stylesheet" href="~/lib/sweetalert2-11.7.0/package/dist/sweetalert2.css">
    <style>
        #TapGo {
            background-color: #F4F4FA;
        }

            #TapGo h3 {
                margin-bottom: 15px;
                font-size: 26px;
                font-weight: 800;
            }

        .tapgo-main {
            margin-bottom: 60px;
        }

        .boxo {
            display: block;
            margin: 30px auto;
            background-color: white;
            padding: 30px 0;
            width: 85%;
            border-radius: 20px;
        }

            .boxo h5 {
                text-align: center;
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            .boxo p {
                font-size: 20px;
                margin-left: 30px;
            }

            .boxo img {
                display: block;
                margin: 10px auto 30px;
                width: 90%;
            }

        .intro {
            font-size: larger;
            background-color: #8A6BFA;
            color: white;
            text-align: justify;
            text-align-last: center;
            border-radius: 10px;
        }

        .manual-step {
            font-size: larger;
            background-color: #8A6BFA;
            color: white;
            text-align: justify;
            padding: 20px 30px;
            border-radius: 15px;
            height: 300px;
        }

            .manual-step h5 {
                font-size: 22px;
                font-weight: 700;
            }

            .manual-step ul {
                margin-left: 50px;
            }

                .manual-step ul li {
                    list-style: disc;
                }

        .tapgo-manual img {
            display: block;
            margin: 30px auto;
            width: 80px;
        }

        .tapgo-station__search {
            margin: 0 240px;
        }

        .tapgo-station tr:hover {
            background-color: black;
            opacity: 0.4;
            color: whitesmoke;
        }

        .tapgo-station tr {
            border-bottom: 1px solid #ddd;
        }

        .station-box {
            margin: 20px 250px 10px;
            background-color: white;
            font-size: 20px;
            height: 500px;
            overflow: scroll;
        }

        .station-td {
            width: 100px;
            padding-left: 50px;
        }

        #tapgo-station h5 {
            font-style: italic;
            margin: 0 250px;
        }
        /*Search*/
        .search-box {
            position: relative;
        }

        .search-input {
            width: 100%;
            font-weight: 700;
            padding: 15px 45px 15px 15px;
            border-radius: 6px;
            border: none;
            transition: all .4s;
        }

            .search-input:focus {
                border: none;
                outline: none;
                box-shadow: 0 1px 12px #b8c6db;
                -moz-box-shadow: 0 1px 12px #b8c6db;
                -webkit-box-shadow: 0 1px 12px #b8c6db;
            }

        .search-btn {
            background-color: transparent;
            font-size: 18px;
            padding: 6px 9px;
            margin-left: -45px;
            border: none;
            color: #6c6c6c;
            transition: all .4s;
            z-index: 10;
        }

            .search-btn:hover {
                transform: scale(1.2);
                cursor: pointer;
                color: black;
            }

            .search-btn:focus {
                outline: none;
                color: black;
            }

        .checkWallet {
            margin: 100px 0;
        }

            .checkWallet h4 {
                margin-top: 20px;
            }

        .search-input {
            width: 30%;
            height: 45px;
            border-radius: 5px;
            padding: 10px;
        }

        @@media (min-width: 992px) and (max-width: 1400px) {
            .manual-step {
                height: 390px;
            }

            .tapgo-station__search {
                margin: 0 240px;
            }
        }

        @@media (min-width: 576px) and (max-width: 991px) {
            .manual-step {
                height: auto;
            }

            .tapgo-station__search {
                margin: 0;
            }

            .boxo {
                width: 95%;
            }

            .p-intro p {
                font-size: larger;
                background-color: #8A6BFA;
                color: white;
                text-align: justify;
                text-align-last: center;
                padding: 20px 20px;
                margin: 10px 10px;
                border-radius: 10px;
            }


            #tapgo-station {
                margin-bottom: 0;
            }

                #tapgo-station h5 {
                    font-style: italic;
                    margin: 0;
                }

            .station-box {
                margin: 20px 0;
                background-color: white;
                font-size: 18px;
                height: 400px;
                overflow: scroll;
            }

            .station-td {
                width: 60px;
                padding-left: 15px;
            }
        }

        @@media (max-width: 575px) {
            .boxo {
                width: 95%;
            }

            .tapgo-station__search {
                margin: 0;
            }

                .tapgo-station__search h4 {
                    margin-top: 10px;
                }

            .p-intro p {
                font-size: larger;
                background-color: #8A6BFA;
                color: white;
                text-align: justify;
                text-align-last: center;
                padding: 20px 20px;
                margin: 10px 10px;
                border-radius: 10px;
            }

            .manual-step {
                font-size: larger;
                background-color: #8A6BFA;
                color: white;
                text-align: justify;
                padding: 20px 30px;
                border-radius: 10px;
                height: auto;
            }

            #tapgo-station {
                margin-bottom: 0;
            }

                #tapgo-station h5 {
                    font-style: italic;
                    margin: 0;
                }

            .station-box {
                margin: 20px 0;
                background-color: white;
                font-size: 18px;
                height: 400px;
                overflow: scroll;
            }

            .station-td {
                width: 50px;
                padding-left: 10px;
            }

            .search-input {
                width: 90%;
                height: 45px;
                border-radius: 5px;
                padding: 10px;
            }
        }

        #active-card-container label {
            margin-left: 3px;
        }

        #active-card-container img {
            max-height: 300px;
        }

        .img-preview-box {
            height: 350px;
            background-color: white;
        }
    </style>
}
<section class="banner">
    <img src="/image/tapgo-background.png" class="img-fluid" />
    <div class="h1 banner-text-centered">Thẻ trả trước TapGo</div>
</section>

<div class="tapgo-intro tapgo-main container">
    <div class="h3 fw-bold">Giới thiệu</div>
    <div class="intro py-5 d-flex flex-row justify-content-center">
        <div class="w-75">Thẻ trả trước TapGo là một tính năng mới cho phép khách hàng thuê xe đạp công cộng TNGo ngay chỉ với vài thao tác đơn giản mà không cần tải ứng dụng và đăng ký tài khoản. Khách hàng có thể mua thẻ TapGo tại các <a style="color:#EFE952;text-decoration:underline;" href="#tapgo-station">địa chỉ dưới đây.</a></div>
    </div>
    <div class="row">
        <div class="tapgo-card__intro col-sm-6">
            <div class="boxo">
                <h5>Thẻ TapGo60</h5>
                <img src="/image/tapgo60.png" />
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Trong thẻ có 60.000 điểm</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Cho phép mở 1 xe</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Thẻ có hiệu lực trong 30 ngày kể từ khi kích hoạt</p>
            </div>
        </div>
        <div class="tapgo-card__intro col-sm-6">
            <div class="boxo">
                <h5>Thẻ TapGo120</h5>
                <img src="/image/tapgo120.png" />
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Trong thẻ có 120.000 điểm</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Cho phép mở 1 xe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p><i class="fa-solid fa-check" style="color:blue"></i>&nbsp;&nbsp;Thẻ có hiệu lực trong 30 ngày kể từ khi kích hoạt</p>
            </div>
        </div>
    </div>
</div>

<div class="tapgo-manual tapgo-main">
    <div class="h3 fw-bold">Hướng dẫn sử dụng</div>
    <h5>Để sử dụng thẻ TapGo, khách hàng làm theo các bước sau đây:</h5>
    <div class="row">
        <div class="col-sm-6">
            <img src="/image/tapgo-QR.png" />
            <div class="manual-step">
                <h5>Bước 1: Kích hoạt</h5>
                <p>
                    Khách hàng quét mã Qrcode trên mặt trước thẻ để gửi tin nhắn kích hoạt tới số "8066". Hệ thống sẽ gửi tin nhắn xác nhận kích hoạt thẻ thành công tới số điện thoại kích hoạt.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/image/tapgo-unlock-icon.png" />
            <div class="manual-step">
                <h5>Bước 2: Thuê xe</h5>
                <p>Chạm thẻ vào biểu tượng RFID trên khóa hoặc khu vực bên phải mã QR trên khóa để mở khóa. Khóa sẽ phát âm thanh khi chạm thẻ và tự động mở khóa để khách thuê xe.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/image/tapgo-bicycle-icon.png" />
            <div class="manual-step">
                <h5>Bước 3: Trả xe</h5>
                <p>Đỗ xe ngay ngắn tại trạm, đóng khóa xe và chạm thẻ lên biểu tượng RFID trên khóa trong vòng 30 giây kể từ khi đóng khóa để xác nhận trả xe. Nếu khách hàng sau 30 giây mới chạm thẻ thì khóa sẽ mở trở lại.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/image/tapgo-wallet-icon.png" />
            <div class="manual-step">
                <h5>Bước 4: Nạp tiền</h5>
                <p>Khi sử dụng hết số tiền trong thẻ, khách hàng có thể nạp tiền theo 2 cách:</p>
                <ul>
                    <li> Nạp qua tài khoản ngân hàng: Mở ứng dụng mobile banking bất kì, quét mã QRcode trên mặt sau thẻ TapGo và nhập số tiền cần nạp để chuyển tiền.</li>
                    <li> Nạp tiền mặt <span style="font-style:italic;">(sắp ra mắt)</span>: Quý khách mang thẻ TapGo ra hệ thống cửa hàng tiện lợi để được hỗ trợ nạp tiền mặt vào thẻ.</li>
                </ul>
                <!--<p style="margin-top:15px;"><a style="color:#EFE952;text-decoration:underline;" href="#checkWallet">Kiểm tra số dư trong thẻ</a></p>-->
            </div>
        </div>
        <div class="col-sm-6" style="display:block;margin:0 auto;">
            <img src="/image/tapgo-re.png" />
            <div class="manual-step">
                <h5>Bước 5: Tái sử dụng</h5>
                <p>Khi không còn nhu cầu sử dụng thẻ, khuyến nghị quý khách đem thẻ đến trả tại các điểm bán thẻ để tái sử dụng và nhận phần quà nhỏ từ TNGo vì hành động bảo vệ môi trường bạn nhé!</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Địa điểm mua thẻ</h2>
</div>
