@model QA.TNGo_v2.Models.Login

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="loginScreen" style="padding:50px 450px;margin:100px 0;">
            <h1>Login</h1>
            <form asp-action="Index" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
