<!-- Slide banner -->
<!-- Giới thiệu -->
<section id="dlapp" class="dlapp">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="dlappl">
                    <h2><b>Giới thiệu về TNGo</b></h2>
                    <p class="pe-0 pe-sm-5">
                        Dịch vụ xe đạp công cộng TNGo (TN-Go) đem đến một hình thức giao thông đô thị mới văn minh, tiện lợi, tốt cho sức khỏe và thân thiện với môi trường. Chỉ với vài thao tác đơn giản trên ứng dụng di động, người tham gia giao thông có thể dễ dàng thuê xe, di chuyển và trả xe tại các trạm xe đạp TNGo bất kỳ trên địa bàn thành phố. TNGo sẽ giúp kết nối các hệ thống giao thông công cộng khác như xe buýt, tàu điện... giúp việc di chuyển trong đô thị trở nên linh hoạt và thuận tiện hơn.
                    </p>
                    <p class="pe-0 pe-sm-5">
                        Dịch vụ xe đạp công cộng TNGo hiện đã có mặt tại 06 Tỉnh, Thành phố: <span style="font-weight:bold">TP. Hà Nội, Hải Phòng, Đà Nẵng, Quy Nhơn, Vũng Tàu, Hồ Chí Minh</span>.
                    </p>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="">
                    <div id="fb-root"></div>
                    <script defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="5hC0ptyA"></script>

                    <!-- Your embedded video player code -->
                    <div class="fb-video" data-href="https://www.facebook.com/tngo.vn/videos/826310328960933/" data-show-text="false" data-lazy="true">
                        <blockquote cite="https://www.facebook.com/tngo.vn/videos/826310328960933/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/tngo.vn/videos/826310328960933/"></a>
                        </blockquote>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div class="col-sm-5 mb-4">
                <div class="dlappr">
                    <img src="/image/dapp.jpg" style="width:100%;" />
                </div>
            </div>
            <div class="col-sm-7 dlappl mb-4">
                <div class="px-4 py-5">
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-4">
                            <div class="mx-auto d-block" style="width:200px; height:200px;background-color: lightpink;border-radius:12px">
                                <img style="width:150px;margin:25px;" alt="" src="/image/onlink_to_tngo.svg" class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 d-flex flex-column align-items-center justify-content-center mb-2">
                            <a href="https://apps.apple.com/vn/app/tngo/id1552166916" target="_blank"><img class="mb-2" alt="ios store" src="/image/app-ios.png"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.tngo" target="_blank"><img class="mb-2" alt="google store" src="/image/app-android.png"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center">
                            <ul class="ratings text-center">
                                <li class="star selected"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                            </ul>
                            <strong>Hơn 20K lượt đánh giá tích cực, đạt 4.8/5 sao trên các kho ứng dụng iOS và Android</strong>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <h3>4,6 triệu +</h3>
                            <strong>Số Km khách hàng đã đi</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HDSD -->
<section id="HDSD" class="manuals py-5 my-5"><div class="container"><div class="col-sm-12"><header><h2><b>Cách sử dụng</b></h2><h3>Sau khi <span style="color:#0094fb">Đăng kí</span>, sử dụng dễ dàng với 3 bước: <span style="color:#0094fb">Mở khóa - Đi xe - Trả xe</span></h3></header></div><div class="col-sm-12"><div class="owl-carousel owl-theme owl-loaded owl-drag" id="manualsct"><!--<div class="item" data-dot="<button>1</button><h2>Tìm kiếm trạm xe</h2><p>Bạn hãy mở bản đồ trạm xe trên ứng dụng TNGo để tìm kiếm trạm còn xe gần nhất.</p>"><img src="image/use-1.png" alt=""></div>--><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2592px, 0px, 0px); transition: all 0.25s ease 0s; width: 9072px;"><div class="owl-item cloned" style="width: 1296px;"><div class="item" data-dot="<button>2</button><h2>Đi xe</h2><p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p>"><img src="/image/use-2.png" alt=""></div></div><div class="owl-item cloned" style="width: 1296px;"><div class="item" data-dot="<button>3</button><h2>Trả xe</h2><p>Trả xe đạp về trạm TNGo bất kỳ. Thực hiện đóng khóa xe và xác nhận kết thúc chuyến đi trên ứng dụng TNGo.</p>"><img src="/image/use-3.png" alt=""></div></div><div class="owl-item active" style="width: 1296px;"><div class="item" data-dot="<button>1</button><h2>Mở khóa</h2><p>Chạm vào nút ''Mở khóa'' và quét mã QR trên xe đạp/khóa xe để tự động mở khóa.</p>"><img src="/image/use-1.png" alt=""></div></div><div class="owl-item" style="width: 1296px;"><div class="item" data-dot="<button>2</button><h2>Đi xe</h2><p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p>"><img src="/image/use-2.png" alt=""></div></div><div class="owl-item" style="width: 1296px;"><div class="item" data-dot="<button>3</button><h2>Trả xe</h2><p>Trả xe đạp về trạm TNGo bất kỳ. Thực hiện đóng khóa xe và xác nhận kết thúc chuyến đi trên ứng dụng TNGo.</p>"><img src="/image/use-3.png" alt=""></div></div><div class="owl-item cloned" style="width: 1296px;"><div class="item" data-dot="<button>1</button><h2>Mở khóa</h2><p>Chạm vào nút ''Mở khóa'' và quét mã QR trên xe đạp/khóa xe để tự động mở khóa.</p>"><img src="/image/use-1.png" alt=""></div></div><div class="owl-item cloned" style="width: 1296px;"><div class="item" data-dot="<button>2</button><h2>Đi xe</h2><p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p>"><img src="/image/use-2.png" alt=""></div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><button>1</button><h2>Mở khóa</h2><p>Chạm vào nút ''Mở khóa'' và quét mã QR trên xe đạp/khóa xe để tự động mở khóa.</p></div><div class="owl-dot"><button>2</button><h2>Đi xe</h2><p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p></div><div class="owl-dot"><button>3</button><h2>Trả xe</h2><p>Trả xe đạp về trạm TNGo bất kỳ. Thực hiện đóng khóa xe và xác nhận kết thúc chuyến đi trên ứng dụng TNGo.</p></div></div></div></div></div></section>
<!--Bảng giá-->
<section id="price" class="price py-5">
    <div class="container">
        <header>
            <h2 class="price-title text-center mb-5">Bảng giá dịch vụ</h2>
        </header>
        <article>
            <div class="row">
                <div class="col-sm-6">
                    <div class="boxo">
                        <header>
                            <h2 class="text-white">Vé lượt</h2>
                            <p>5.000đ / 30 phút</p>
                        </header>
                        <div class="ctg">
                            <h3>Thời gian cung cấp dịch vụ</h3>
                            <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                            <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                            <div class="panelbody">
                                <h3>Chi tiết vé</h3>
                                <p>Cước phí 5.000đ để mở khóa xe và sử dụng trong 30 phút đầu tiên.</p>
                                <p>Sau 30 phút đầu sẽ tính cước phí 1.000đ cho mỗi 06 phút tiếp theo.</p>
                                <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, số tiền trong tài khoản phải còn đủ tối thiểu 20.000đ cho mỗi 01 xe muốn mở thêm.</p>
                                <p>Đối với vé lượt, khách hàng không cần mua vé trước, chỉ cần nạp điểm vào tài khoản và quét mã QR trên xe để sử dụng ngay.</p>
                            </div>
                            <h3>Lợi ích</h3>
                            <div>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Chi phí linh hoạt</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Sử dụng nhanh chóng dễ dàng</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp các chuyến đi ngắn</p>
                            </div>

                            <div class="mt-5">
                                <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="boxo">
                        <header>
                            <h2 class="text-white">Vé ngày</h2>
                            <p>50.000đ / 450 phút / ngày</p>
                        </header>
                        <div class="ctg">
                            <h3>Thời gian cung cấp dịch vụ</h3>
                            <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                            <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                            <div class="panelbody">
                                <h3>Chi tiết vé</h3>
                                <p>Cước phí 50.000đ cho tổng 450 phút (tương đương 7,5 giờ) sử dụng trong ngày.</p>
                                <p>Người dùng sử dụng quá thời lượng này trong ngày sẽ áp dụng cước phí vé lượt.</p>
                                <p>Người dùng có thể thuê và trả xe không giới hạn số lần trong ngày.</p>
                                <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, khách hàng cần mua đủ số lượng vé ngày tương ứng số lượng xe muốn thuê.</p>
                            </div>
                            <h3>Lợi ích</h3>
                            <div>
                                <p><i class="fa fa-check" aria-hidden="true"></i> <span class="ticket-discount bg-warning">Tiết kiệm hơn 30% chi phí</span></p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Không giới hạn số chuyến đi trong ngày</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp mục đích du lịch, tham quan trong ngày</p>
                            </div>

                            <div class="mt-5">
                                <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="boxo">
                        <header>
                            <h2 class="text-white">Vé tháng</h2>
                            <p>150.000đ / 60 giờ / tháng</p>
                        </header>
                        <div class="ctg">
                            <h3>Thời gian cung cấp dịch vụ</h3>
                            <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                            <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                            <div class="panelbody">
                                <h3>Chi tiết vé</h3>
                                <p>Cước phí từ 150.000đ cho 60 giờ sử dụng trở lên trong tháng, giới hạn 04 chuyến/ngày với tổng thời lượng sử dụng không quá 120 phút/ngày.</p>
                                <p>Người dùng sử dụng quá thời lượng này sẽ áp dụng cước phí vé lượt.</p>
                                <p>Không áp dụng vé nhóm.</p>
                            </div>
                            <h3>Lợi ích</h3>
                            <div>
                                <p><i class="fa fa-check" aria-hidden="true"></i> <span class="ticket-discount bg-warning">Tiết kiệm hơn 75% chi phí</span></p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp mục đích đi lại hàng ngày với lộ trình và thời gian cố định</p>
                                <p>&nbsp;</p>
                            </div>

                            <div class="mt-5">
                                <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="boxo">
                        <header>
                            <h2 class="text-white">Vé trả trước</h2>
                            <p>5.000đ / 60 phút</p>
                        </header>
                        <div class="ctg">
                            <h3>Thời gian cung cấp dịch vụ</h3>
                            <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                            <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                            <div class="panelbody">
                                <h3>Chi tiết vé</h3>
                                <p>Lựa chọn linh hoạt 120/180/240 giờ sử dụng trong 30 ngày với cước phí 5.000đ cho 01 giờ sử dụng.</p>
                                <p>Người dùng sử dụng quá thời lượng này sẽ áp dụng cước phí vé lượt.</p>
                                <p>Người dùng có thể thuê và trả xe không giới hạn số lần trong ngày.</p>
                                <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, thời lượng vé tháng còn tối thiểu 02 giờ cho mỗi 01 xe muốn mở thêm.</p>
                            </div>
                            <h3>Lợi ích</h3>
                            <div>
                                <p><i class="fa fa-check" aria-hidden="true"></i> <span class="ticket-discount bg-warning">Tiết kiệm hơn 50% chi phí</span></p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Không giới hạn số chuyến đi trong ngày</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp mục đích đi lại thường xuyên hàng ngày</p>
                            </div>

                            <div class="mt-5">
                                <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<!--Con số-->
<section class="py-5 mb-5">
    <div class="container">
        <h2 class="price-title text-center mb-4">Những con số biết nói</h2>
        <div class="row">
            <div class="col-sm-4 mb-3">
                <div class="statistic-number">06</div>
                <div class="statistic-label">Tỉnh/Thành phố</div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="statistic-number">3500+</div>
                <div class="statistic-label">Xe đạp trên toàn quốc</div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="statistic-number">4,6 triệu+</div>
                <div class="statistic-label">Số Km khách hàng đã đi</div>
            </div>
        </div>
    </div>
</section>
<!-- Tin tức-->
<section class="py-5 mb-5">
    <div class="container">
        <h2>Báo chí nói gì về chúng tôi</h2>
    </div>
</section>
<!--Khoảnh khắc TNGo-->
<section class="py-5 mb-5">
    <div class="container">
        <h2>Khoảnh khắc TNGo</h2>
    </div>
</section>