@addTagHelper *, PT.UI

@{

    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="text-align:center;margin-top:100px;">
    <h3 class="text-name" style="font-size: 39px; font-weight: 600; text-transform: uppercase;">
        PHẦN MỀM QUẢN TRỊ TIN TỨC
    </h3>
    <h3 class="text-name" style="font-size: 39px; font-weight: 600; text-transform: uppercase;">
        DỰ ÁN TNGo
    </h3>
</div>