@using System.Globalization
@model List<QA.TNGo_v2.Models.BlogManager>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@section Styles
    {
    <style>
        #news-grid .img-wrap {
            width: 100%;
            height: 210px;
            overflow: hidden;
        }

            #news-grid .img-wrap > img {
                width: 100%;
                height: auto;
                transition: .3s ease-in-out;
            }

            #news-grid .img-wrap:hover > img {
                transform: scale(1.3);
            }

        .news-content h5,p{
            color: black;
            font-size: 16px;
        }
        button {
            color: white;
            background-color: #0090FF;
            height: 45px;
            width: 45px;
            border: 1px solid #d7d2d2;
        }
        button:hover{
            opacity: 0.7;
            border: 1px solid white;
            height: 43px;
            width: 43px;
        }

            button:focus {
                opacity: 0.5;
                border: 1px solid #15b313;
                height: 43px;
                width: 43px;
            }
    </style>
}

<section>
    <div class="banner"><img src="/image/banner-news.jpg" class="img-fluid" /><h1 class="banner-text-centered">Tin tức</h1></div>

    <div class="container py-5">
        <div class="row" id="news-grid">
            @if (Model?.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-4 d-none">
                        <a href="/NewsDetail/@item.ID">
                            <div class="img-wrap my-2">
                                <img src="@item?.Banner" >
                            </div>
                            <div class="news-content">
                                <div class="news-content__titte">
                                    <h5>@item?.Name</h5>
                                </div>

                                <div class="news-content__datePosted">
                                    <p>@item?.DatePosted?.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="mb-5 text-center" id="page-container"></div>

</section>

@section Scripts{
    <script src="~/js/pages/news.js"></script>
    <script>
        var itemsPerPage = 3;
        var totalItems = $(".col-4").length;
        let currentPage = 1;

        const divsWithClass = document.querySelectorAll('.col-4');
        divsWithClass.forEach((div, i) => {
            if (i == 0 || i == 1 || i == 2) {
                div.classList.remove('d-none');
            }
        });
        function updatePagination() {
            // Calculate the total number of pages
            const totalPages = Math.ceil(totalItems / itemsPerPage);

            // Update the pagination links/buttons in the "pagination" container
            const paginationContainer = document.getElementById('page-container');

            for (let i = 1; i <= totalPages; i++) {
                const pageButton = document.createElement('button');
                pageButton.textContent = i;

                // Add a click event handler to the pagination button
                pageButton.addEventListener('click', () => {
                    currentPage = i;
                    divsWithClass.forEach((div, i) => {
                        if (i == (currentPage * 3 - 3) || i == (currentPage * 3 - 1) || i == (currentPage * 3 - 2)) {
                            div.classList.remove('d-none');
                        }
                        else {
                            div.classList.add('d-none');
                        }
                    })
                });

                paginationContainer.appendChild(pageButton);
            }
        }
        updatePagination();
    </script>
}

