@model List<QA.TNGo_v2.Models.BlogManager>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@section Styles
    {
    <style>
        #news-grid .img-wrap {
            width: 100%;
            height: 210px;
            overflow: hidden;
        }

            #news-grid .img-wrap > img {
                width: 100%;
                height: auto;
                transition: .3s ease-in-out;
            }

            #news-grid .img-wrap:hover > img {
                transform: scale(1.3);
            }

    </style>
}

<section>
    <div class="banner"><img src="/image/banner-news.jpg" class="img-fluid" /><h1 class="banner-text-centered">Tin tức</h1></div>

    <div class="container py-5">
        <div class="row" id="news-grid">
            @if (Model?.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-4">
                        <a href="/NewsDetail/@item.ID">
                            <div class="img-wrap">
                                <img src="@item?.Banner" @* style="width:100%; height:300px; object-fit:cover;" *@>
                            </div>
                            <div class="news-content">
                                <div class="news-content__titte">
                                    <h5>@item?.Name</h5>
                                </div>

                                <div class="news-content__datePosted">
                                    <p>@item?.DatePosted</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="mb-5 text-center" id="page-container"></div>

</section>

@section Scripts{
    <script src="/js/pages/news.js"></script>
}

