@* @model IEnumerable<QA.SportStore.Models.Price> *@

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="banner"><img src="/image/banner-news.jpg" class="img-fluid" /><h1 class="banner-text-centered">Tin tức</h1></div>

    <div class="container py-5">
        <div class="row" id="news-grid">
        </div>
    </div>

    <div class="mb-5 text-center" id="page-container"></div>

</section>

