@* @model IEnumerable<QA.SportStore.Models.Price> *@

@{
    ViewData["Title"] = "Index";
}


<header>
    <h2 class="price-title text-center mb-5">Bảng giá dịch vụ</h2>
</header>
<article>
    <div class="row">
        <div class="col-sm-6">
            <div class="boxo">
                <header>
                    <h2 class="text-white">Vé lượt</h2>
                    <p>5.000đ / 30 phút</p>
                </header>
                <div class="ctg">
                    <h3>Thời gian cung cấp dịch vụ</h3>
                    <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                    <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                    <div class="panelbody">
                        <h3>Chi tiết vé</h3>
                        <p>Cước phí 5.000đ để mở khóa xe và sử dụng trong 30 phút đầu tiên.</p>
                        <p>Sau 30 phút đầu sẽ tính cước phí 1.000đ cho mỗi 06 phút tiếp theo.</p>
                        <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, số tiền trong tài khoản phải còn đủ tối thiểu 20.000đ cho mỗi 01 xe muốn mở thêm.</p>
                        <p>Đối với vé lượt, khách hàng không cần mua vé trước, chỉ cần nạp điểm vào tài khoản và quét mã QR trên xe để sử dụng ngay.</p>
                    </div>
                    <h3>Lợi ích</h3>
                    <div>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Chi phí linh hoạt</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Sử dụng nhanh chóng dễ dàng</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp các chuyến đi ngắn</p>
                    </div>

                    <div class="mt-5">
                        <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded btn-buynow d-none">Mua ngay</a>
                        <button id="btn-modal-login" class="btn btn-primary btn-lg w-100 mx-auto rounded btn-login-tobuy d-none" data-action="login">Đăng nhập để mua vé</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="boxo">
                <header>
                    <h2 class="text-white">Vé ngày</h2>
                    <p>50.000đ / 450 phút / ngày</p>
                </header>
                <div class="ctg">
                    <h3>Thời gian cung cấp dịch vụ</h3>
                    <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                    <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                    <div class="panelbody">
                        <h3>Chi tiết vé</h3>
                        <p>Cước phí 50.000đ cho tổng 450 phút (tương đương 7,5 giờ) sử dụng trong ngày.</p>
                        <p>Người dùng sử dụng quá thời lượng này trong ngày sẽ áp dụng cước phí vé lượt.</p>
                        <p>Người dùng có thể thuê và trả xe không giới hạn số lần trong ngày.</p>
                        <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, khách hàng cần mua đủ số lượng vé ngày tương ứng số lượng xe muốn thuê.</p>
                    </div>
                    <h3>Lợi ích</h3>
                    <div>
                        <p><i class="fa fa-check" aria-hidden="true"></i> <span class="ticket-discount bg-warning">Tiết kiệm hơn 30% chi phí</span></p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Không giới hạn số chuyến đi trong ngày</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp mục đích du lịch, tham quan trong ngày</p>
                    </div>

                    <div class="mt-5">
                        <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded btn-buynow d-none">Mua ngay</a>
                        <button id="btn-modal-login" class="btn btn-primary btn-lg w-100 mx-auto rounded btn-login-tobuy d-none" data-action="login">Đăng nhập để mua vé</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="boxo">
                <header>
                    <h2 class="text-white">Vé tháng</h2>
                    <p>150.000đ / 60 giờ / tháng</p>
                </header>
                <div class="ctg">
                    <h3>Thời gian cung cấp dịch vụ</h3>
                    <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                    <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                    <div class="panelbody">
                        <h3>Chi tiết vé</h3>
                        <p>Cước phí từ 150.000đ cho 60 giờ sử dụng trở lên trong tháng, giới hạn 04 chuyến/ngày với tổng thời lượng sử dụng không quá 120 phút/ngày.</p>
                        <p>Người dùng sử dụng quá thời lượng này sẽ áp dụng cước phí vé lượt.</p>
                        <p>Không áp dụng vé nhóm.</p>
                    </div>
                    <h3>Lợi ích</h3>
                    <div>
                        <p><i class="fa fa-check" aria-hidden="true"></i> <span class="ticket-discount bg-warning">Tiết kiệm hơn 75% chi phí</span></p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp mục đích đi lại hàng ngày với lộ trình và thời gian cố định</p>
                        <p>&nbsp;</p>
                    </div>

                    <div class="mt-5">
                        <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded btn-buynow d-none">Mua ngay</a>
                        <button id="btn-modal-login" class="btn btn-primary btn-lg w-100 mx-auto rounded btn-login-tobuy d-none" data-action="login">Đăng nhập để mua vé</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="boxo">
                <header>
                    <h2 class="text-white">Vé trả trước</h2>
                    <p>5.000đ / 60 phút</p>
                </header>
                <div class="ctg">
                    <h3>Thời gian cung cấp dịch vụ</h3>
                    <div class="text-center" style="color:#0094fb">Hoạt động 24/7</div>
                    <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                    <div class="panelbody">
                        <h3>Chi tiết vé</h3>
                        <p>Lựa chọn linh hoạt 120/180/240 giờ sử dụng trong 30 ngày với cước phí 5.000đ cho 01 giờ sử dụng.</p>
                        <p>Người dùng sử dụng quá thời lượng này sẽ áp dụng cước phí vé lượt.</p>
                        <p>Người dùng có thể thuê và trả xe không giới hạn số lần trong ngày.</p>
                        <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, thời lượng vé tháng còn tối thiểu 02 giờ cho mỗi 01 xe muốn mở thêm.</p>
                    </div>
                    <h3>Lợi ích</h3>
                    <div>
                        <p><i class="fa fa-check" aria-hidden="true"></i> <span class="ticket-discount bg-warning">Tiết kiệm hơn 50% chi phí</span></p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Không giới hạn số chuyến đi trong ngày</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Phù hợp mục đích đi lại thường xuyên hàng ngày</p>
                    </div>

                    <div class="mt-5">
                        <a href="/Price/BuyTicket" class="btn btn-primary w-100 mx-auto rounded btn-buynow d-none">Mua ngay</a>
                        <button id="btn-modal-login" class="btn btn-primary btn-lg w-100 mx-auto rounded btn-login-tobuy d-none" data-action="login">Đăng nhập để mua vé</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>